@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}

html{
    background-color: #262626;
    overflow: hidden;
}

.SecondDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.PageBTConterner{
    display: flex;
    justify-content: center;
}

.PageObject{
    width: 500px;
    height: 441px;
}



a{
    color: #000080;
}

.LastP{
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }