.RecordDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.MainP{
    font-size: xx-large;
    font-weight: bold;
}

.FirstP{
      font-size: x-large;
      font-weight: bold;
  }
  

#RecordPalyer{
      background-color: white;
  }