@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

.MouseTesterDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.MainP{
    font-size: xx-large;
}

.FirstP{
      font-size: large;
      font-weight: bold;
  }

.ClickCounterP{
    font-size: x-large;
    font-weight: bold;
}

#ButtonClicked{
    font-size: x-large;
    font-weight: bold;
}